<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Scheduler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/actions"><i class="fas fa-play-circle"></i> Actions</a></li>
        <li class="nav-item"><a class="nav-link" href="/jobs"><i class="fas fa-cogs"></i> Jobs</a></li>
        <li class="nav-item"><a class="nav-link" href="/jobs/calendar"><i class="fas fa-calendar"></i> Calendar</a></li>
      </ul>
    </div>
  </div>
</nav>
</html>
