<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yeni Görev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container py-4">
    <h2>Yeni Zamanlanmış SH Görevi</h2>
    <form class="row g-3" action="/jobs" method="post" th:object="${job}">
        <div class="col-md-6">
            <input type="text" th:field="*{name}" placeholder="Görev Adı" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label w-100">Script
                <select th:field="*{scriptPath}" class="form-select">
                    <option th:each="s : ${scripts}" th:value="${s}" th:text="${s}"></option>
                </select>
            </label>
        </div>
        <div class="col-md-6">
            <input type="text" th:field="*{scriptParams}" placeholder="Script Parametreleri" class="form-control" />
        </div>
        <div class="col-md-6">
            <input type="text" th:field="*{cronExpression}" placeholder="Cron İfadesi (örn: 0 0 12 * * *)" class="form-control" />
        </div>
        <div class="col-md-6">
            <input type="text" th:field="*{nextScript1}" placeholder="2. SH (isteğe bağlı)" class="form-control" />
        </div>
        <div class="col-md-6">
            <input type="text" th:field="*{nextScript2}" placeholder="3. SH (isteğe bağlı)" class="form-control" />
        </div>
        <div class="col-12 form-check">
            <input type="checkbox" th:field="*{active}" class="form-check-input" id="activeCheck" />
            <label class="form-check-label" for="activeCheck">Aktif mi?</label>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
